#!/usr/bin/env bash

# Initialize and update the docker build environment
# Providing resources before starting docker build provides better control about updates
# and can speed up the build process.

update_pkg="False"

while getopts ":huU" opt; do
  case $opt in
    u)
      update_pkg="True"
      ;;
    U)
      update_pkg="False"
      ;;
    *)
      echo "usage: $0 [-u] [-U]
   -u  update git repos in docker build context
   -U  do not update git repos in docker build context (default)

   To update packages delivered as tar-balls just delete them from install/opt
   "
      exit 0
      ;;
  esac
done

shift $((OPTIND-1))


# --- determine config script (there may be more than one to run multiple containers)
# if config_nr not given and there is only one file matching conf*.sh take this one
SCRIPTDIR=$(cd $(dirname $BASH_SOURCE[0]) && pwd)
PROJROOT=$(cd $(dirname $SCRIPTDIR) && pwd)
cd $PROJROOT; confs=(conf*.sh); cd $OLDPWD
source $SCRIPTDIR/conf_lib.sh  # load library functions

if [ ! -z ${config_nr} ]; then
    conf_script=conf${config_nr}.sh
    if [ ! -e "$PROJROOT/$conf_script" ]; then
        echo "$PROJROOT/$conf_script not found"
        exit 1
    fi
elif [ ${#confs[@]} -eq 1 ]; then
    conf_script=${confs[0]}
else
    echo "No or more than one (${#confs[@]}) conf*.sh: need to provide -n argument:"
    printf "%s\n" "${confs[@]}"
    exit 1
fi
source $PROJROOT/$conf_script


# --- install software from github ---
#repodir='install/opt/xyz'
#repourl='https://github.com/abc/xyz'
#get_or_update_repo

# --- install software as tar ball ---
#pkgroot="$workdir/install/opt"
#pkgdir="pkg-123"
#pkgurl='http://downloads.sourceforge.net/project/............tar.gz'
#get_from_tarball

# --- install software as zip archive ---
#pkgroot='install/opt'
#pkgdir='xmlsectool'
#version='2.0.0'
#pkgurl="https://shibboleth.net/downloads/tools/xmlsectool/${version}/xmlsectool-${version}-bin.zip"
#get_from_ziparchive
#cd $pkgroot && ln -s xmlsectool-${version} $pkgdir && cd $OLDPWD

# --- Download software with checksum ---
PROD_VERSION='3.3.0'
PROD_URL="https://shibboleth.net/downloads/identity-provider/latest/shibboleth-identity-provider-$PROD_VERSION.zip"
PROD_DIR='shibboleth-idp-distribution' # this is the reference from Dockerfile
PROD_SHA256='a0dd96ad8770539b6f1249f7cea98b944cff846b4831892e8deee62b91b60277'
get_from_ziparchive_with_checksum $PROD_URL $PROD_SHA256 $PROD_DIR $PROD_VERSION
